.customers-section,h2,ul{
    padding: 0;
    margin: 0;
   
    
  }
  .customers-section{
  
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .customers-section__clients-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: #212121;
  }
  