.hero {
  background: #C4C4C4;
  color: #ffff;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ),url(../images/Img\ фон\ копія.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: auto;
    
  }
  .hero h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 696px;
    align-items: center;
  
    
  }
  
 
  .hero__button-cap {
    background-color: $accent_color;
    color: #ffff;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    letter-spacing: 0.06em;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
      border-radius: 4px;
      &:hover{
        color: $accent_color;
      }
      &:focus{
        color: $accent_color;
      }
  }